header{
    display: flex;
    justify-content: space-between;
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    padding: 2rem;
    background-color: grey;
    &.navbar__heading{
        text-align: left;
    }
    &.navbar__items{
        text-align: right;
    }
}

}
.events__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event {
    font-size: larger;
    text-align: center;
    width:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: #BFBFBD;
    .event__btn-more {
        text-align: center;
        font-size: larger;
        margin-top: 10px;
        width: 5em;
        padding: 10% 5%;
        align-items: center;
        background-color: grey;
        border: none;
        border-radius: 10%;
    }
}
