header{
    display: flex;
    justify-content: space-between;
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    padding: 2rem;
    background-color: grey;
    &.navbar__heading{
        text-align: left;
    }
    &.navbar__items{
        text-align: right;
    }
}

}
.events__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event {
    font-size: larger;
    text-align: center;
    width:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: #BFBFBD;
    .event__btn-more {
        text-align: center;
        font-size: larger;
        margin-top: 10px;
        width: 5em;
        padding: 10% 5%;
        align-items: center;
        background-color: grey;
        border: none;
        border-radius: 10%;
    }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.featured-event__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 80vw;
  height: 45vh;
  background-color: grey;
  border-radius: 0.5rem;
}
.featured-event__button {
  background-color: beige;
  border: solid 1px black;
}

.featured-event__image {
  width: 30%;
  img {
    width: 100%;
    height: 80%;
  }
}
.featured-event__text--vertical {
  transform: rotate(-90deg);
  width: 10%;
}
